---
---

@import "minima";

/* https://www.hvl.no/globalassets/hvl-internett/dokument/trykksak/hvl_designmanual_2017.pdf */

body { background-color: #ffffff; }

a { color: #64d0df; }
a:visited { color: #00afba; }

blockquote { color: #004357; background-color: #d2cdc8; border-left: #8f8a83; }

.site-title, .site-title:visited {color: #008aaf; }
